.bouton {
    box-shadow: 3px 3px 3px red;
    margin-left: 10px;
    margin-right: 10px;
    
}

.donnees{
    text-align: center;
    color: yellow;
    margin-top: 40px;
    border-style: double;
    border-color: red;
    border-width : 3px;
    
}