.details {
    display: inline-block;
    margin-left: 5%;
    margin-top: 60px;
    border-style: double;
    border-color: red;
    border-width : 3px;
    vertical-align: top;
    padding-right: 10px;
}

.boutonD {
    background-color: darkkhaki;
    border-radius: 5px;
}

.boutonA {
    background-color: darkkhaki;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}