<form [formGroup] = "formSignin" (submit)="onSubmit()">
    <div style="margin-top: 10px;">
        <label for="name">Name </label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div style="margin-top: 10px;">
        <label for="firstname">First Name </label>
        <input id="firstname" type="text" formControlName="firstname">
    </div>
    <div style="margin-top: 10px;">
        <label for="pseudo">Pseudo </label>
        <input id="pseudo" type="text" formControlName="pseudo">
    </div>
    <div style="margin-top: 10px;">
        <label for="mdp">Mot de Passe  </label>
        <input id="mdp" type="text" formControlName="mdp">
    </div>
    <div style="margin-top: 10px;">
        <label for="rue">Rue </label>
        <input id="rue" type="text" formControlName="rue">
    </div>
    <div style="margin-top: 10px;">
        <label for="numero">Numéro </label>
        <input id="numero" type="text" formControlName="numero">
    </div>
    <div style="margin-top: 10px;">
        <label for="codePostal">Code Postal </label>
        <input id="codePostal" type="text" formControlName="codePostal">
    </div>
    <div style="margin-top: 10px;">
        <label for="ville">Ville </label>
        <input id="ville" type="text" formControlName="ville">
    </div>
    <div style="margin-top: 10px;">
        <label for="pays">Pays </label>
        <input id="pays" type="text" formControlName="pays">
    </div>
    <button type="submit" >Enregistrer</button>

</form>
