<div style="display: inline-block; color : yellow; text-align: center;">
    <table class="donnees">
        <thead>
            <th>Référence</th>
            <th>Payé</th>
            <th>Moyen de Payement</th>
            <th>Produits</th>
        
        </thead>
        <tbody >
            
           <tr *ngFor="let commande of commandes">
               <td>{{commande.reference}}</td>
               <td>{{commande.estPaye}}</td>
               <td>{{commande.moyenDePayement}}</td>
               <span *ngFor="let produit of commande.produitsDto">
                    <td>{{produit.name}}</td>
                </span>
                <td><button (click)="supprimer(commande.id)">Supprimer</button></td>
               
           </tr> 
        </tbody>
    </table>
    </div>